{% extends 'templates/default.twig' %}
{% block content %}
    <h1>Login</h1>
    <ul>
        <form method="POST">
            <input type="text" name="identifier" placeholder="E-Mail or Username">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
        Don't have an account? <a href="{{ path_for("auth.register") }}">Register</a>
    </ul>
{% endblock %}
