{% extends 'templates/default.twig' %}
{% block content %}
    <h1>Change Password</h1>
    <ul>
        <form method="POST">
            <input type="password" name="current_password" placeholder="Current Password">
            {% if flash.getMessage("errors").0.current_password %}
                {{ flash.getMessage("errors").0.current_password }}
            {% endif %}
            <input type="password" name="password" placeholder="New Password">
            {% if flash.getMessage("errors").0.password %}
                {{ flash.getMessage("errors").0.password }}
            {% endif %}
            <input type="password" name="confirm_password" placeholder="Confirm New Password">
            {% if flash.getMessage("errors").0.confirm_password %}
                {{ flash.getMessage("errors").0.confirm_password }}
            {% endif %}
            {{ csrf.field | raw }}
            <button type="submit">Update</button>
        </form>
    </ul>
{% endblock %}
