{% extends 'templates/default.twig' %}
{% block content %}
    <h1>Change Password</h1>
    <ul>
        <form method="POST">
            <input type="password" name="current_password" placeholder="Current Password">
            {% if errors.current_password %}
                {{ errors.current_password.0 }}
            {% endif %}
            <input type="password" name="password" placeholder="New Password">
            {% if errors.password %}
                {{ errors.password.0 }}
            {% endif %}
            <input type="password" name="confirm_password" placeholder="Confirm New Password">
            {% if errors.confirm_password %}
                {{ errors.confirm_password.0 }}
            {% endif %}
            {{ csrf.field | raw }}
            <button type="submit">Update</button>
        </form>
    </ul>
{% endblock %}
