// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #2196F3;
$indigo: #3F51B5;
$purple: #9C27B0;
$pink: #E91E63;
$red: #f44336;
$orange: #FF9800;
$yellow: #FFEB3B;
$green: #4CAF50;
$teal: #009688;
$cyan: #00BCD4;
