<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slim Auth Skeleton</title>
</head>
<body>
    {% include "templates/partials/_alerts.twig" %}
    {% include "templates/partials/_nav.twig" %}
    {% block content %}
    {% endblock %}
</body>
</html>
